
<a href="/cats">Back</a>
<h1>Cat Information</h1>

<%= @thecat.name %> <br />
<%= @thecat.description %> <br />
<%= @thecat.size %> <br />
<%= @thecat.color %> <br />
<%= @thecat.birth_date %> <br />
